<html>
    <head>
        <title>Desafio Módulo 1</title>
    </head>
    <body>
        <form action="check" method="POST">
            <label for="nome">Nome</label>
            <input type="text" name="nome" required="true"/><br>
            <label for="nome">Data de Nascimento</label>
            <input type="date" name="nascimento" required="true"/>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
