<html>
    <head>
        <title>Desafio Módulo 1</title>
    </head>
    <body>
      Parabéns <strong>{{ nome }}</strong>, você tem mais que <strong>18 anos</strong>.<br>
      Sua idade atual é <strong>{{ idade }} anos</strong>.
    </body>
</html>
